*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
}

.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    border: 2px solid #0e0e0e;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}

#newtask{
    position: relative;
    background-color: #0e0e0e;
    padding: 30px 20px;
    border-radius: 7px;
}

#newtask input{
    width: 70%;
    height: 45px;
    padding: 12px;
    position: relative;
    border: 2px solid #0e0e0e;
    border-radius: 5px;
}

#newtask input:focus{
    outline: none;
    border-color: #00e0fd;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

#tasks{
    background-color: #0e0e0e;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 7px;
    width: 100%;
    position: relative;
    color: #ffff;
}

.task{
    background-color: #0e0e0e;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button{
    background-color: #38e8ff;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.completed{
    text-decoration: line-through;
}