* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ff9db2;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #ff9db2;
    color: #ff0062;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    margin: 7rem;
    cursor: pointer;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 20pt;
}